.TwemojiCreater {
  position:relative;
  float:left;
  margin-right:5px;
}
.TwemojiCreater .Icon--poll:before {
}
.TwemojiCreater .Icon:after, .TwemojiCreater .Icon:before {
  display: none;
}

.TwemojiCreater .icon-btn .text {
  font-size: 12px;
  font-weight: normal;
  margin-left: 3px;
  position: relative;
  top: -6px;
}
.TwemojiCreater img.emoji {
  width: 20px;
}
